In [28]:
from tabula import read_pdf

df = read_pdf('farvardin.pdf', pages="2-38", multi_tables=True)
df.columns = ('payment', 'organization', 'number', 'type', 'date', 'doc_number', 'row')

In [80]:
df.head(30)

,payment,organization,number,type,date,doc_number,row
0,مبلغ(ریال),نام دستگاه اجرایی,شماره تراکنش,نوع پرداخت,تاریخ پرداخت,NaN,ردیف
1,NaN,نام دستگاه اجرایی بوشهر,NaN,NaN,NaN,پرداخت,NaN
2,"١٠٣,١٧٤,٤٨٣,٢٣٤",بوشهر,٢١٥٠٤,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٣
3,"٢٦٠,١٠٠,٢٤٣,٠٠١",تهران,٢١٥٠٥,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٤
4,"١١٥,٧٥٦,٢٥٠,٦٣٢",اردبیل,٢١٥٠٦,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٥
5,"٦٥,٨٩٤,٣٦٤,٢٤٢",قــم,٢١٥٠٧,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٦
6,"٨٣,٧٣١,٦٩٢,٤٧٧",قزوین,٢١٥٠٨,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٧
7,"١٥٢,٤١٠,٠٢٠,٩٢١",گلستان,٢١٥٠٩,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٨
8,"٨٤,٩٣٧,٧٤٧,٥٨٣",خراسان شمالی,٢١٥١٠,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٩
9,"١٠١,٤٦٨,٩٨١,١٢١",خراسان جنوبی,٢١٥١١,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٣٠
10,"٨٤,٠٢٣,٦٢٩,٦٨٢",البرز,٢١٥١٢,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨٢,٣١
11,"٨٠,٨٥٠,٠٠٠,٠٠٠",مرکزی,٢١٥٦٧,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٢
12,"١٤٥,٩٣٥,٠٠٠,٠٠٠",گیلان,٢١٥٦٨,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٣
13,"١٧٣,٤٢١,٠٠٠,٠٠٠",مازندران,٢١٥٦٩,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٤
14,"١٢٩,٦٨٦,٠٠٠,٠٠٠",آذربایجان شرقی,٢١٥٧٠,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٥
15,"١١٣,١٢٤,٠٠٠,٠٠٠",کرمانشاه,٢١٥٧٢,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٦
16,"١٨٩,٣٦٤,٠٠٠,٠٠٠",فارس,٢١٥٧٣,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٧
17,"١٢٢,٠٧٣,٠٠٠,٠٠٠",آذربایجان غربی,٢١٥٧١,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٨
18,"١٨٠,٠٠٦,٠٠٠,٠٠٠",خوزستان,٢١٥٧٤,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٩
19,"١٨١,٣٣٠,٠٠٠,٠٠٠",خراسان رضوی,٢١٥٧٥,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٤٠
20,"١٥١,٢٥٩,٠٠٠,٠٠٠",کرمان,٢١٥٧٦,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٤١
21,"٩٧,٤٩٤,٠٠٠,٠٠٠",هرمزگان,٢١٥٧٨,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٢
22,"١٦٣,٩٨٠,٠٠٠,٠٠٠",اصفهان,٢١٥٧٧,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٣
23,NaN,سیستان,NaN,NaN,NaN,NaN,NaN
24,"١١١,٠٥٨,٠٠٠,٠٠٠",سیستان وبلوچستان,٢١٥٧٩,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٤
25,NaN,وبلوچستان,NaN,NaN,NaN,NaN,NaN
26,"٨٨,٩٦٨,٠٠٠,٠٠٠",کردستان,٢١٥٨٠,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٥
27,"٩١,١٨٤,٠٠٠,٠٠٠",همدان,٢١٥٨١,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٦
28,"١٠١,٢٨٠,٠٠٠,٠٠٠",لرستان,٢١٥٨٢,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٧
29,"٦٧,٥٦٥,٠٠٠,٠٠٠",زنجان,٢١٥٨٥,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٨

In [50]:
df3 = df[96:99].reset_index().copy()
df3

,index,payment,organization,number,type,date,doc_number,row
0,96,NaN,دانشگاه شهید,NaN,NaN,NaN,NaN,NaN
1,97,"٦,٤٠٠,٠٠٠,٠٠٠",NaN,٢١٦٠٣,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٥٩٥,٧٧
2,98,NaN,مطهری,NaN,NaN,NaN,NaN,NaN

In [75]:
for i, n in df3[0:3]['organization'].iteritems():
    if str(n).lower() == "nan":
        print(df3.iloc[i-1]['organization'] + " " + df3.iloc[i+1]['organization'])
        df3.set_value(i, 'organization', df3.iloc[i-1]['organization'] + " " + df3.iloc[i+1]['organization']) 
        
df3

دانشگاه شهید مطهری

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:4: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  after removing the cwd from sys.path.

,index,payment,organization,number,type,date,doc_number,row
0,96,NaN,دانشگاه شهید,NaN,NaN,NaN,NaN,NaN
1,97,"٦,٤٠٠,٠٠٠,٠٠٠",دانشگاه شهید مطهری,٢١٦٠٣,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٥٩٥,٧٧
2,98,NaN,مطهری,NaN,NaN,NaN,NaN,NaN

In [77]:
for i, n in df['organization'].iteritems():
    if str(n).lower() == "nan":
        df.set_value(i, 'organization', df.iloc[i-1]['organization'] + " " + df.iloc[i+1]['organization']) 
        
df

,payment,organization,number,type,date,doc_number,row
0,مبلغ(ریال),نام دستگاه اجرایی,شماره تراکنش,نوع پرداخت,تاریخ پرداخت,NaN,ردیف
1,NaN,نام دستگاه اجرایی بوشهر,NaN,NaN,NaN,پرداخت,NaN
2,"١٠٣,١٧٤,٤٨٣,٢٣٤",بوشهر,٢١٥٠٤,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٣
3,"٢٦٠,١٠٠,٢٤٣,٠٠١",تهران,٢١٥٠٥,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٤
4,"١١٥,٧٥٦,٢٥٠,٦٣٢",اردبیل,٢١٥٠٦,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٥
5,"٦٥,٨٩٤,٣٦٤,٢٤٢",قــم,٢١٥٠٧,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٦
6,"٨٣,٧٣١,٦٩٢,٤٧٧",قزوین,٢١٥٠٨,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٧
7,"١٥٢,٤١٠,٠٢٠,٩٢١",گلستان,٢١٥٠٩,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٨
8,"٨٤,٩٣٧,٧٤٧,٥٨٣",خراسان شمالی,٢١٥١٠,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٢٩
9,"١٠١,٤٦٨,٩٨١,١٢١",خراسان جنوبی,٢١٥١١,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨١,٣٠
10,"٨٤,٠٢٣,٦٢٩,٦٨٢",البرز,٢١٥١٢,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٨٢,٣١
11,"٨٠,٨٥٠,٠٠٠,٠٠٠",مرکزی,٢١٥٦٧,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٢
12,"١٤٥,٩٣٥,٠٠٠,٠٠٠",گیلان,٢١٥٦٨,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٣
13,"١٧٣,٤٢١,٠٠٠,٠٠٠",مازندران,٢١٥٦٩,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٤
14,"١٢٩,٦٨٦,٠٠٠,٠٠٠",آذربایجان شرقی,٢١٥٧٠,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٥
15,"١١٣,١٢٤,٠٠٠,٠٠٠",کرمانشاه,٢١٥٧٢,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٦
16,"١٨٩,٣٦٤,٠٠٠,٠٠٠",فارس,٢١٥٧٣,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٧
17,"١٢٢,٠٧٣,٠٠٠,٠٠٠",آذربایجان غربی,٢١٥٧١,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٨
18,"١٨٠,٠٠٦,٠٠٠,٠٠٠",خوزستان,٢١٥٧٤,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٣٩
19,"١٨١,٣٣٠,٠٠٠,٠٠٠",خراسان رضوی,٢١٥٧٥,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٤٠
20,"١٥١,٢٥٩,٠٠٠,٠٠٠",کرمان,٢١٥٧٦,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩١,٤١
21,"٩٧,٤٩٤,٠٠٠,٠٠٠",هرمزگان,٢١٥٧٨,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٢
22,"١٦٣,٩٨٠,٠٠٠,٠٠٠",اصفهان,٢١٥٧٧,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٣
23,NaN,سیستان,NaN,NaN,NaN,NaN,NaN
24,"١١١,٠٥٨,٠٠٠,٠٠٠",سیستان وبلوچستان,٢١٥٧٩,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٤
25,NaN,وبلوچستان,NaN,NaN,NaN,NaN,NaN
26,"٨٨,٩٦٨,٠٠٠,٠٠٠",کردستان,٢١٥٨٠,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٥
27,"٩١,١٨٤,٠٠٠,٠٠٠",همدان,٢١٥٨١,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٦
28,"١٠١,٢٨٠,٠٠٠,٠٠٠",لرستان,٢١٥٨٢,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٧
29,"٦٧,٥٦٥,٠٠٠,٠٠٠",زنجان,٢١٥٨٥,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٩٢,٤٨
...,...,...,...,...,...,...,...
1202,NaN,دانشکده,NaN,NaN,NaN,NaN,NaN
1203,"٣٠٩,٠٠٠,٠٠٠",کشاورزی و منابع,٢١٧٧١,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٦١٣,٣٨٩
1204,NaN,طبیعی داراب,NaN,NaN,NaN,NaN,NaN
1205,NaN,مرکز آموزش,NaN,NaN,NaN,NaN,NaN
1206,"٦٩٩,٠٠٠,٠٠٠",مرکز آموزش عالی فیروزآباد,٢١٧٦٦,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٦١٣,٣٩٠
1207,NaN,عالی فیروزآباد,NaN,NaN,NaN,NaN,NaN
1208,"١,٧٣٣,٠٠٠,٠٠٠",دانشگاه تهران,٢١٧٨٠,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٦١٤,٣٩١
1209,NaN,پارک علم و,NaN,NaN,NaN,NaN,NaN
1210,"١,٣٦٤,٠٠٠,٠٠٠",فناوری استان,٢١٧٧٠,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٦١٣,٣٩٢
1211,NaN,مازندران,NaN,NaN,NaN,NaN,NaN
1212,NaN,دانشگاه علوم,NaN,NaN,NaN,NaN,NaN
1213,NaN,پزشکی و خدمات,NaN,NaN,NaN,NaN,NaN
1214,"١,٤٢٠,٠٠٠,٠٠٠","پزشکی و خدمات بهداشتی, درمانی",٢١٨٦٢,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٦٢٣,٣٩٣
1215,NaN,"بهداشتی, درمانی",NaN,NaN,NaN,NaN,NaN
1216,NaN,خرم آباد,NaN,NaN,NaN,NaN,NaN
1217,NaN,دانشکده علوم,NaN,NaN,NaN,NaN,NaN
1218,NaN,پزشکی و خدمات,NaN,NaN,NaN,NaN,NaN
1219,"١٢,٤٩٢,٠٠٠,٠٠٠","پزشکی و خدمات بهداشتی, درمانی",٢١٨٨٣,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٦٢٥,٣٩٤
1220,NaN,"بهداشتی, درمانی",NaN,NaN,NaN,NaN,NaN
1221,NaN,سیرجان,NaN,NaN,NaN,NaN,NaN
1222,NaN,دانشکده علوم,NaN,NaN,NaN,NaN,NaN
1223,NaN,پزشکی و خدمات,NaN,NaN,NaN,NaN,NaN
1224,"١,٥٤٢,٠٠٠,٠٠٠","پزشکی و خدمات بهداشتی, درمانی",٢١٨٨٢,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٦٢٥,٣٩٥
1225,NaN,"بهداشتی, درمانی",NaN,NaN,NaN,NaN,NaN
1226,NaN,سیرجان,NaN,NaN,NaN,NaN,NaN
1227,NaN,دانشگاه علوم,NaN,NaN,NaN,NaN,NaN
1228,NaN,پزشکی و خدمات,NaN,NaN,NaN,NaN,NaN
1229,"١,٩٩٢,٠٠٠,٠٠٠","پزشکی و خدمات بهداشتی, درمانی",٢١٩٠٤,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٦٢٩,٣٩٦
1230,NaN,"بهداشتی, درمانی",NaN,NaN,NaN,NaN,NaN
1231,NaN,سمنان,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.to_csv('test.csv')

In [81]:
df3

,index,payment,organization,number,type,date,doc_number,row
0,96,NaN,دانشگاه شهید,NaN,NaN,NaN,NaN,NaN
1,97,"٦,٤٠٠,٠٠٠,٠٠٠",دانشگاه شهید مطهری,٢١٦٠٣,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٣٠,٠١٥٩٥,٧٧
2,98,NaN,مطهری,NaN,NaN,NaN,NaN,NaN

In [85]:
df3.iloc[0].organization[::-1]

'دیهش هاگشناد'

In [90]:
df2 = pd.read_excel('farvardin_reshape_needed.xlsx')
df2.head()

,(ریال)غلبم,ییارجا هاگتسد مان,شنکارت هرامش,تخادرپ عون,تخادرپ خیرات,دنس هرامش تخادرپ,فیدر
0,"٩٧,٣٥١,٠٩٨,٦٣٩",یزکرم,٢١٤٨٢,رمتسم یایازم و قوقح,١٣٩٧/٠١/٢٩,٠١٥٧٩,١
1,"١٩٠,٦٨٢,٥٦٠,٨٣٤",نلایگ,٢١٤٨٣,رمتسم یایازم و قوقح,١٣٩٧/٠١/٢٩,٠١٥٧٩,٢
2,"٢٥٢,٩٩٧,٣٢٤,١٤٤",ناردنزام,٢١٤٨٤,رمتسم یایازم و قوقح,١٣٩٧/٠١/٢٩,٠١٥٧٩,٣
3,"١٩٢,٤٢٢,٩٦٢,٧٦٤",یقرش ناجیابرذآ,٢١٤٨٥,رمتسم یایازم و قوقح,١٣٩٧/٠١/٢٩,٠١٥٧٩,٤
4,"١٧٩,٦١٤,٣٤١,٩٥٤",یبرغ ناجیابرذآ,٢١٤٨٦,رمتسم یایازم و قوقح,١٣٩٧/٠١/٢٩,٠١٥٧٩,٥

In [91]:
df2.columns = ('payment', 'organization', 'number', 'type', 'date', 'doc_number', 'row')
df2.head()

,payment,organization,number,type,date,doc_number,row
0,"٩٧,٣٥١,٠٩٨,٦٣٩",یزکرم,٢١٤٨٢,رمتسم یایازم و قوقح,١٣٩٧/٠١/٢٩,٠١٥٧٩,١
1,"١٩٠,٦٨٢,٥٦٠,٨٣٤",نلایگ,٢١٤٨٣,رمتسم یایازم و قوقح,١٣٩٧/٠١/٢٩,٠١٥٧٩,٢
2,"٢٥٢,٩٩٧,٣٢٤,١٤٤",ناردنزام,٢١٤٨٤,رمتسم یایازم و قوقح,١٣٩٧/٠١/٢٩,٠١٥٧٩,٣
3,"١٩٢,٤٢٢,٩٦٢,٧٦٤",یقرش ناجیابرذآ,٢١٤٨٥,رمتسم یایازم و قوقح,١٣٩٧/٠١/٢٩,٠١٥٧٩,٤
4,"١٧٩,٦١٤,٣٤١,٩٥٤",یبرغ ناجیابرذآ,٢١٤٨٦,رمتسم یایازم و قوقح,١٣٩٧/٠١/٢٩,٠١٥٧٩,٥

In [94]:
for i, n in df2['organization'].iteritems():
    df2.set_value(i, 'organization', n[::-1]) 

for i, n in df2['type'].iteritems():
    df2.set_value(i, 'type', n[::-1]) 
    
df2.head()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:5: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  """

,payment,organization,number,type,date,doc_number,row
0,"٩٧,٣٥١,٠٩٨,٦٣٩",مرکزی,٢١٤٨٢,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٧٩,١
1,"١٩٠,٦٨٢,٥٦٠,٨٣٤",گیالن,٢١٤٨٣,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٧٩,٢
2,"٢٥٢,٩٩٧,٣٢٤,١٤٤",مازندران,٢١٤٨٤,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٧٩,٣
3,"١٩٢,٤٢٢,٩٦٢,٧٦٤",آذربایجان شرقی,٢١٤٨٥,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٧٩,٤
4,"١٧٩,٦١٤,٣٤١,٩٥٤",آذربایجان غربی,٢١٤٨٦,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٧٩,٥

In [99]:
for i, n in df2['payment'].iteritems():
    try:
        n = n.replace(',', '')
        df2.set_value(i, 'payment', int(n))
    except:
        pass

for i, n in df2['number'].iteritems():
    try:
        n = n.replace(',', '')
        df2.set_value(i, 'number', int(n))
    except:
        pass
    
df2.head()

,payment,organization,number,type,date,doc_number,row
0,97351098639,مرکزی,21482,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٧٩,١
1,190682560834,گیالن,21483,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٧٩,٢
2,252997324144,مازندران,21484,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٧٩,٣
3,192422962764,آذربایجان شرقی,21485,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٧٩,٤
4,179614341954,آذربایجان غربی,21486,حقوق و مزایای مستمر,١٣٩٧/٠١/٢٩,٠١٥٧٩,٥

In [101]:
#df.date = pd.to_datetime(df['date'])

In [102]:
df2.payment.max()

24000000000000

In [103]:
df2[df2.payment == df2.payment.max()]

,payment,organization,number,type,date,doc_number,row
177,24000000000000,بازنشستگی کشوری صندوق,21480,سایر هزینه های اجتناب ناپذیر,١٣٩٧/٠١/٢٩,٠١٥٧٨,١٧٨